body{
    font-family: 'Merriweather', serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url("/images/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 70px;
    padding-top: 50px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: aliceblue;
    font-weight:700 ;


}
.name-highlight-dream{
    color: orange;
}
.dream-area{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.single-experience{
    box-shadow: 10px 10px 40px orange;
    border-radius: 5px;
    height: 50% ;
    background-color: white;
}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid red;
    
}
#baby-stack{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}